<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>websocket测试</title>
    <script src="./static/jquery-1.11.3.min.js" type="text/javascript">
        var socket;
        if('WebSocket' in window){
            socket = new WebSocket("ws://localhost:8080/webSocketServer");
            //打开事件
            socket.onopen = function () {
                alert("Socket已打开");
            };
            //获得消息事件
            socket.onmessage = function (msg) {
                $("#operationData").set(msg.data);
            };
            //关闭事件
            socket.onclose = function () {
                alert("Socket已关闭");
            };
            //发生了错误事件
            socket.onerror = function () {
                alert("Socket发生了错误，请刷新页面");
            }
        }else{
            alert('该浏览器不支持websocket');
        }

        function submit() {
            debugger;
            $.ajax({
                type : 'POST',
                url : "./receiveMsg",
                data: {
                    "message": $("#write").val()
                },
                async : true
            });
        }
    </script>
</head>
<body>
<h1 class="data">websocket测试</h1>
<div>
    <input class="write" type="text">
</div>
<div>
    <input type="button" value="提交" onclick="submit()">
</div>
</body>
</html>