<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--name:代表配置的bean标签对应的javabean的名称，可以重复，可以存特殊符号。
		id:代表bean标签的唯一性，不能重复，不能放特殊字符。
		class:代表当前javabean的完整类名。
		scope:代表当前的javabean的范围，可取值：
		singleton:代表单例模式，即只生成一个对象。（重点）
		prototype:代表多例模式，即可以生成多个对象。（重点）
		request:与web中request作用域范围一致，代表一次请求（基本不用）
		session:与web中session作用域范围一致，代表在当前浏览器窗口未关闭时有效。（基本不用）
		init-method:代表javabean生命周期开始时的方法。
		destroy-method:代表javabean生命周期结束时的方法.-->

	<!-- IoC：使用空构造方法创建单例对象 -->
	<bean name="emp01" class="com.thomax.letsgo.zoom.spring.domain.Emp" scope="singleton"
          init-method="init01" destroy-method="destroy01"/>
		
	<!-- IoC：使用静态工厂方法创建对象 -->
	<bean name="emp02" class="com.thomax.letsgo.zoom.spring.factory.EmpFactory" factory-method="getInstance"/>
	
	<!-- IoC：使用对象工厂方法创建对象 -->
	<bean name="factory01" class="com.thomax.letsgo.zoom.spring.factory.EmpFactory"/>
	<bean name="emp03" factory-bean="factory01" factory-method="getEmp"/>
</beans>
